@import "./login.scss";
@import "./layout.scss";
@import "./user.scss";
@import "./event.scss";

html,
body {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
}
