.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}
.userInfo {
    font-weight: bold;
    padding-left: 10px !important;
    height: 70px !important;
    .ant-avatar {
        margin-right: 15px;
    }
}
.ant-table-title {
    font-size: 25px;
    font-weight: bold;
}