.login {
    background: aliceblue;
    width: 100%;
    height: 100%;
    position: fixed;

    .title {
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    .login-form {
        box-shadow: 10px 10px 5px #aaaaaa;
        border-radius: 50px;
        top: 50%;
        left: 50%;
        position: fixed;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 50px;
        border: 1px solid #fbf6f6;
        background: #ffffff;
        min-width: 556px;
        .input-group {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 5px;
            margin-bottom: 30px;
            input {
                border-radius: 10px;
                height: 40px;
            }
        }
        button {
            width: 100%;
            height: 40px;
        }
        .label {
            font-weight: 600;
            margin-bottom: 10px;
            color: black;
        }
        .forgot-password {
            float: right;
            margin-top: 20px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: #1b87e5;
            }
        }
        .back-to-login {
            // float: right;
            margin-top: 20px;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: #1b87e5;
            }
        }
    }
}

.error {
    font-weight: bold;
    color: red;
}
