.input-group {
    margin-bottom: 15px;
    .ant-input,
    .ant-picker,
    .ant-select {
        margin-top: 10px;
    }
}
.user-information {
    height: 100%;
    .user-col {
        border-radius: 20px;
        padding: 50px;
        margin-top: 20px;
    }
}
